/* clearing default padding and margins */
*, body, html {
    padding: 0;
    margin: 0;
}

html {
    background-color: darkgrey;
    font-family: helvetica, arial, sans-serif;
}

/* Navigation Elements */
div.nav {
    width: 350px;
    background-color: black;
    position: absolute;
    left: -350px; /* start menu off screen */
    transition: left 0.45s cubic-bezier(0.5, 1, 0.89, 1);
}

div.open {
    left: 0px;
}

div.nav-item {
    padding: 10px;
    position: relative;
}

div.nav-fill {
    background-color: rgba(71, 71, 71, 1);
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    transition: width 0.33s cubic-bezier(0.11, 0, 0.5, 0);
}

div.nav-toggle {
    width: 44px;
    height: 44px;
    background: black;
    position: absolute;
    left: 350px;
    top: 0px;
    cursor: pointer;
}

/* We now want the button hover state to stay active if it has our selected class added */
li.nav:hover div.nav-fill, 
li.selected div.nav-fill {
    width: 7px;
    transition: width 0.165s cubic-bezier(0.5, 1, 0.89, 1);
}

div.nav-copy {
    position: relative;
    z-index: 1;
    padding-left: 0;
    transition: padding-left 0.33s cubic-bezier(0.11, 0, 0.5, 0);
}

/* We now want the button hover state to stay active if it has our selected class added */
li.nav:hover div.nav-copy, 
li.selected div.nav-copy {
    padding-left: 7px;
    transition: padding-left 0.165s cubic-bezier(0.5, 1, 0.89, 1);
}

ul.nav {
    padding: 0.125px 0;
}

li.nav {
    display: block;
    list-style-type: none;
    background-color: lightgrey;
    margin: 3px;
    cursor: pointer;
}

a.nav {
    text-decoration: none;
    display: block;
    color: black;
}

/* Page Content */
div.page {
    padding: 58px 10px 10px 10px;
}

div.page h2 {
    margin: 0 0 16px 0;
}